/*Don't import tailwind's base to avoid potential conflicts with reset styles*/

/*@tailwind base;*/

.visible {
  visibility: visible
}

.static {
  position: static
}

.relative {
  position: relative
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.w-full {
  width: 100%
}

.flex-initial {
  flex: 0 1 auto
}

.grow {
  flex-grow: 1
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.border-2 {
  border-width: 2px
}

.border-solid {
  border-style: solid
}

.border-slate-100 {
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity))
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.bg-error {
  background-color: var(--theme-error-400)
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.text-center {
  text-align: center
}

.font-bold {
  font-weight: 700
}

.font-extralight {
  font-weight: 200
}

.font-light {
  font-weight: 300
}

.italic {
  font-style: italic
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-blue-100 {
  --tw-text-opacity: 1;
  color: rgb(219 234 254 / var(--tw-text-opacity))
}

.text-red-100 {
  --tw-text-opacity: 1;
  color: rgb(254 226 226 / var(--tw-text-opacity))
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.line-through {
  text-decoration-line: line-through
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
